<div class="container">

<div class="hero--index">
  <div class="columns text-center" style="margin-bottom: 0px;">
    <div class="column col-xs-12 col-md-12 col-lg-10 col-xl-8 col-mx-auto">   
      <h1 class="main--title">Diversity in technology companies</h1>
      <p class="main--description">We looked into gender and race diversity in 250 fast-growing <br id="mobile-invisible"/> technology companies like <span id="companies" class="label">Buffer</span>.</p>

       <%= link_to 'See the rankings', ranking_path, :class => "btn btn-primary" %>
      <%= link_to 'Checkout findings', findings_path, :class => "btn" %>

    </div>
  </div>

</div>

<!--  <div><%= image_tag('hero-1488x690.png', class: "img-responsive main--image")%></div>  -->

  <script>

var text = ["Mattermark", "Zapier", "Doist", "Airtable", "Bonsai", "Gusto", "AdEspresso", "Buffer"];
var counter = 0;
var elem = document.getElementById("companies");
setInterval(change, 1500);

function change() {
  elem.innerHTML = text[counter];
  counter++;
  if (counter >= text.length) {
    counter = 0;
  }
}

</script>

    <div class="clearfix"/></div>

  <div class="columns company--section" sheetsu='https://sheetsu.com/apis/v1.0/73162961a1d4'>

        <div class="column col-xl-3 col-lg-4 col-md-6 col-xs-12 company--profile">   
          <div class="company--profile--card">
            <!--<img src="//logo.clearbit.com/{{b}}?size=19" class="logo"> -->
            <h5 class="company--title">{{company}}</h5>
            <a href="{{url}}" class="company--link" target="_blank">🔗</a>
            <p class="company--rank">#{{ranking}}</p>
            <div class="clearfix"></div>

            <div class="columns">
              <div class="column col-xs-4"><p class="company--score--icon"><%= image_tag('gender-46x46.png', size: '24') %></p><p class="company--score">{{gender}}</p><p class="company--score--description">Gender Ratio</p></div>
              <div class="column col-xs-6"><p class="company--score--icon"><%= image_tag('race-46x46.png', size: '24' )%></p><p class="company--score">{{race}}</p><p class="company--score--description">Race Ratio</p></div>
            </div>
            <div class="clearfix"></div>
            <span class="tag--size">{{size}}</span><span class="tag--remote">{{remote}}</span>
          </div>
      </div> 

  </div>



</div>
  <script src='//load.sheetsu.com'></script>